<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marks Management</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="body-add">

  <div class="container-add">
    <h1 class="page-title">STUDENT INFORMATION SYSTEM</h1>
    <h2 class="sub-title">MARKS MANAGEMENT</h2>

    <div class="button-container-add">
      <button class="submit-button" onclick="window.location.href='/view_marks'">View Marks</button>
      <button class="submit-button" onclick="window.location.href='/upload_marks'">Upload Marks</button>
    </div>

  </div>

</body>
</html>
